# 1. Ignorar TUDO por padrão
/*

# 2. Não ignorar o próprio .gitignore (importante)
!/.gitignore
!/README.md

# 3. PERMITIR (Whitelist) apenas as pastas que você quer salvar
# Adicione a exclamação "!" na frente do que você quer versionar

!/nvim/
!/fastfetch/
!/kitty/
!/gammastep/
!/autostart/
!/cava/
!/hypr/
!/quickshell/
!/noctalia-shell/

